<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Определение местоположения</title>
    <link rel="icon" href="{{ url_for('static', filename='unnamed.ico') }}" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={{ api_key }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='geo.js') }}?2" type="text/javascript"></script>
	<style>
        html, body, #map {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }
    </style>
</head>
<body>
<div id="map"></div>
</body>
</html>
